<form id="myForm" method="post">
	<input type="email" name="email" placeholder="Tu Email">
	<br><br>
	<input type="password" name="password" placeholder="Tu Contraseña">
	<br>
	<input type="submit" name="submit" value="Login">	
</form>

<script type="text/javascript">
	//usamos  vanillaJS para no importar mas librerias
	const formLogin = document.querySelector('#myForm') 
	console.log("formLogin", formLogin);
	//var x = document.querySelector('#login')
	//console.log("x", x);


	//Datos del formulario y usamos una API de Js que se llama FormData y le pasamos el formulario.
	//const formData = new FormData(formLogin) 
	const formData = new URLSearchParams(new FormData(formLogin));

	formLogin.addEventListener('submit', function(event) {
		event.preventDefault()		
		fetch('/api/signin', {
			method: 'POST',
			body: formData
		})
		.then(res => res.json())
		//.then(data => console.log(data))
		.then(data =>{			
			console.log(data)
			localStorage.setItem('token', data.token)
		})
	})	
</script>