<form id="myRegisterForm" method="post">
	<input type="email" name="email" placeholder="Tu Email">
	<br><br>
	<input type="text" name="nombre" placeholder="Tu nombre">
	<br><br>
	<input type="text" name="apellido" placeholder="Tu apellido">
	<br><br>		
	<input type="password" name="password" placeholder="Tu Contraseña">
	<br>
	<input type="submit" name="submit" value="Registrar">	
</form>

<script type="text/javascript">	
	const formRegister = document.getElementById('myRegisterForm');
	console.log("formRegister", formRegister);
	
	formRegister.addEventListener('submit', function(event) {
		event.preventDefault()		
		const formData = new URLSearchParams(new FormData(formRegister));
		fetch('/api/signup', {
			method: 'POST',
			body: formData
		})
		.then(res => res.json())	
		.then(data =>{			
			console.log(`Se recibió el siguiente mensaje: ${data.msg}`)
			console.log('se creó el usuario con el siguiente token: ',data)
			localStorage.setItem('token', data.token)
		})
		.catch((error) =>{
		console.log(`Error durante los Fetch de register: ${error}`)
	})
	})	
</script>