<h1>Este boton emula una parada de emergencia</h1>
<button id="btnParada" onclick="paradaEmergencia()">Parada de Emergencia</button>
<br>
<label id="lblEstado">...</label>

<script type="text/javascript">
	const myHeaders = new Headers();
	myHeaders.append('authorization',`Bearer ${localStorage.token}`)


	function paradaEmergencia() {
		lblEstado.innerHTML = `Deteniendo`
		fetch('/api/porton/detener',{
		method: 'GET',
		headers: myHeaders
		})
		.then(res => {		
			if (res.status >= 400 && res.status < 600) {      		
		  		throw new Error(`Fallo con status: ${res.status}`);
		    } 
		    return res.json();	    
		})
		.then(json =>{
			let valEstado = json.message;
			lblEstado.innerHTML = `${valEstado}`
		})	  	
	  	
	}
</script>