<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mi API Node.js</title>
</head>
<body>
	<!-- Con esto se van a incrustar las vistas que vamos definiendo-->
	{{{body}}} 

</body>
</html>

